.containerWithMargin {
  margin-top: 3rem;
}

.iconContainer {
  margin-top: 1rem;
  height: 10.5rem;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;
}

.iconDiv {
  padding: 4px;
  width: 50px;
  margin-bottom: 8px;
  border-width: 1px;
  border-radius: 5px;
  border-style: outset;
  border-color: var(--secondary);
  cursor: pointer;
}

.iconDivChecked, .iconDiv:hover {
  background-color: #f5f7fb;
}

.iconDivChecked {
  border-style: inset;
}

.iconLabel {
  cursor: pointer;
  margin-bottom: 0;
  font-size: 1.7em;
}

.iconInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.gridCell {
  border-width: 1px;
  border-style: dashed;
  border-color: var(--light);
  padding: 0px;
  margin: 0px;
}