.iconContainer {
  height: 10.6rem;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;
  padding: 2px;
}

.iconContainer .iconDiv {
  margin: 3px;
}

.iconContainerSmall {
  height: 7.3rem;
}

.iconDiv {
  padding: 4px;
  width: 50px;
  margin: 2px;
  border-width: 1px;
  border-radius: 5px;
  border-style: outset;
  border-color: var(--secondary);
  cursor: pointer;
  background-color: white;
}

.dropTargetActive .iconDiv {
  background-color: var(--light);
}

.iconDivChecked, .iconDiv:hover {
  background-color: #f5f7fb;
}

.iconDivChecked {
  border-style: inset;
}

.iconLabel {
  cursor: pointer;
  margin-bottom: 0;
  font-size: 1.7em;
}

.iconInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.iconTrash i {
  font-size: 1.5rem;
}

.emptyIconDiv {
  border-style: groove;
  border-color: var(--light);
}

.emptyIcon:before {
  content: "\00a0";
}

.remoteGrid {
  overflow: scroll;
}

.gridCell {
  border-width: 1px;
  border-style: dashed;
  border-color: var(--light);
  padding: 0px;
  margin: 0px;
}